# Core data and spatial libraries
pandas
geopandas
pyarrow
shapely

# AWS S3 and filesystem handling
# boto3 is automatically installed as a dependency of s3fs
s3fs

# Database connection
sqlalchemy
psycopg2-binary

# Progress bars
tqdm
